*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 10px;
}
#volume-up{
    font-size: 45px;
    color:#ddd;
}
#title{
  text-align:center;
  font-size: 45px;
  font-family: sans-serif;
}
.container{
    display:flex;
    width:70%;
    margin:0 auto;
    align-items: center;
    justify-content: space-evenly;
}
.app-btn{
    padding:13px 30px;
    font-weight:bolder;
    border-color:rgb(180, 180, 180);
    

}
.app-btn:hover{
    background-color:darkorange;
    color:white;

}
.para-div{
    width:30%;
     margin:0 auto;
}
p{
    font-size:45px;
    margin-top:40px;
    

}